# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/

# Jupyter
.ipynb_checkpoints/

# Spark
spark-warehouse/
metastore_db/
*.crc

# Spark checkpoints
**/*checkpoint*/

# Generated data
data/bronze/*
data/silver/*
data/gold/*

# Keep folder structure
!data/bronze/.gitkeep
!data/silver/.gitkeep
!data/gold/.gitkeep

# Logs
*.log

# Environment / secrets
.env
.env.*
!.env.example

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Python cache
.pytest_cache/

# Temporary files
*.tmp
*.temp